COMPOSE_PROJECT_NAME=webnovel_platform
WEBNOVEL_ENVIRONMENT=development

WEBNOVEL_PROJECT_ROOT=C:/Users/anadh/Development/Webnovel
WEBNOVEL_FRONTEND_HOST=127.0.0.1
WEBNOVEL_FRONTEND_PORT=5273
WEBNOVEL_BACKEND_HOST=127.0.0.1
WEBNOVEL_BACKEND_PORT=8270
WEBNOVEL_FRONTEND_URL=http://localhost:5273
WEBNOVEL_BACKEND_URL=http://localhost:8270
WEBNOVEL_JWT_SECRET=replace_with_a_long_random_secret
WEBNOVEL_ADMIN_API_KEY=replace_with_a_long_random_secret

WEBNOVEL_POSTGRES_HOST=127.0.0.1
WEBNOVEL_POSTGRES_PORT=55432
WEBNOVEL_POSTGRES_DB=webnovel
WEBNOVEL_POSTGRES_USER=webnovel_app
WEBNOVEL_POSTGRES_PASSWORD=replace_with_a_unique_local_password
WEBNOVEL_DATABASE_URL=postgresql://webnovel_app:replace_with_a_unique_local_password@127.0.0.1:55432/webnovel

WEBNOVEL_REDIS_HOST=127.0.0.1
WEBNOVEL_REDIS_PORT=56379
WEBNOVEL_REDIS_PASSWORD=replace_with_a_unique_local_password
WEBNOVEL_REDIS_URL=redis://:replace_with_a_unique_local_password@127.0.0.1:56379/0

WEBNOVEL_STORAGE_HOST=127.0.0.1
WEBNOVEL_STORAGE_PORT=59000
WEBNOVEL_STORAGE_CONSOLE_PORT=59001
WEBNOVEL_STORAGE_ROOT_USER=webnovel_storage
WEBNOVEL_STORAGE_ROOT_PASSWORD=replace_with_a_unique_local_password

WEBNOVEL_DATA_PATH=C:/Users/anadh/Development/Webnovel/data
WEBNOVEL_STORAGE_PATH=C:/Users/anadh/Development/Webnovel/storage
WEBNOVEL_DATABASE_PATH=C:/Users/anadh/Development/Webnovel/database
WEBNOVEL_LOGS_PATH=C:/Users/anadh/Development/Webnovel/logs
WEBNOVEL_BACKUPS_PATH=C:/Users/anadh/Development/Webnovel/backups

WEBNOVEL_DOCKER_NETWORK=webnovel_network
WEBNOVEL_FRONTEND_CONTAINER=webnovel_frontend
WEBNOVEL_BACKEND_CONTAINER=webnovel_backend
WEBNOVEL_WORKER_CONTAINER=webnovel_worker
WEBNOVEL_SCHEDULER_CONTAINER=webnovel_scheduler
WEBNOVEL_POSTGRES_CONTAINER=webnovel_postgres
WEBNOVEL_REDIS_CONTAINER=webnovel_redis
WEBNOVEL_STORAGE_CONTAINER=webnovel_storage

WEBNOVEL_RIGHTS_JURISDICTION=SG
WEBNOVEL_AI_IMAGE_PROVIDER=disabled
WEBNOVEL_AI_IMAGE_ENDPOINT=
WEBNOVEL_AI_IMAGE_API_KEY=
WEBNOVEL_AI_METADATA_PROVIDER=disabled
WEBNOVEL_CONSENT_PROVIDER=local

ADSENSE_ENABLED=false
ADSENSE_AUTO_ADS=false
NEXT_PUBLIC_ADSENSE_CLIENT_ID=
ADSENSE_PUBLISHER_ID=
NEXT_PUBLIC_GA_MEASUREMENT_ID=
